@import url('https://fonts.googleapis.com/css?family=Roboto+Slab'); 
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto Slab', serif;
    overflow-y:hidden;
}
.Main {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-wrap {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.gallery-wrap .item{
    height: 100%;
    width: 250px;
    background-color: aliceblue;
    flex: 1;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: all 0.8s ease;
}
.gallery-wrap .item:hover {
  flex: 8;
  background-position: top;
}
.content-overlay{
  background: rgba(0,0,0,0.7);
  position: relative;
  height: 10%;
  width: 100%;
  bottom: 10px;
  right: 15px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.gallery-wrap .item:hover .content-overlay{
  opacity: 1;
}
.wrap-effect .item:first-of-type {
  background-image: url('./assets/Coffee-House.png');
}
.wrap-effect .item:nth-of-type(2) {
  background-image: url('./assets/photo-film-gallery.png');
}
.wrap-effect .item:nth-of-type(3) {
  background-image: url('./assets/Eath.png');
}
/*.wrap-effect .item:nth-of-type(4) {
  background-image: url('https://cdn.dribbble.com/users/729829/screenshots/5743606/gal-shir-scooter_2x.png');
} */
.wrap-effect .item:last-of-type {
  background-image: url('./assets/Bread-Shop.png');
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0)
  }
}
