body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}
.header_section {
    width: 100%;
    float: left;
    background-color: #fef4ec;
    height: auto;
    background-size: 100%;
}
.bg-light {
    background-color: transparent!important;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: $navbar-padding-y $navbar-padding-x; */
}
.navbar .container,
.navbar.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    padding-left: 90px;
    z-index: 2;
}
.toggle_icon {
    padding: 10px 0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}
.sidenav a {
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #fc967e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    z-index: 99999999999999;
    background-color: rgb(0, 0, 0, 0.9);
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
        background-color: rgb(0, 0, 0, 0.9);
    }
    .sidenav a {
        font-size: 18px;
    }
}
.login_text {
    width: 100%;
    float: left;
}

.login_text ul {
    margin: 0px;
    padding: 0px;
}

.login_text li {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    padding-left: 15px;
}

.login_text a {
    color: #ffffff;
}

.login_text a:hover {
    color: #ffffff;
}